body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav ul {
  list-style: none;
  padding-left: 1em;
}

form label {
  font-size: smaller;
}

.error {
  color: red;
}

.flash {
  color: green;
}

.left {
  float: left;
  width: 12em;;
}

.right {
  margin-left: 12em;
}
